<header id="main_header" class="clearfix">

  <div class="wrapper_wide">
    <%= link_to "PODCAST.FM" ,welcome_index_path , id: "logo" %>
    <nav>
      <ul>
        <li><%= link_to "Explore" , podcasts_index_path  %></li>
        <li><a href="#"> Sign In</a></li>
        <li><a href="#"> Create a Podcast</a></li>
      </ul>
    </nav>

  </div>
</header>



<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1>RocketShip Podcast</h1>

      <p class="description">Pickled brunch hashtag, aesthetic whatever yr disrupt Helvetica leggings butcher typewriter artisan McSweeney's
        readymade. Semiotics lumbersexual hoodie Banksy, chia salvia leggings vinyl craft beer lomo. Banjo gentrify
        meditation roof party YOLO Carles. High Life disrup</p>

      <a href="#" class="subscribe_link">Itunes</a>
      <a href="#" class="subscribe_link">Stitcher</a>
      <a href="#" class="subscribe_link">PodBay</a>

    </div>
  </div>

  <div id="breadcrumb">
    <a href="#">
      All Podcasts
      <span>/</span>
      The Rocketship Podcast
    </a>
  </div>

  <div id="episode_content">
    <div class="wrapper_skinny">
      <%= image_tag "2859340378_4fea440c7f.jpg", class: "current_episode_thumbnail" %>
      <h2>How to pull of 12 startups in 12 months</h2>
      <p>

        Pielete levels , founder of levels.io , takjs about how hes building 12 startups
        in 12 months . Not only do we cover how he's able
        to pull that off ( and to wi...
        Pielete levels , founder of levels.io , takjs about how hes building 12 startups
        in 12 months . Not only do we cover how he's able
        to pull that off ( and to wi...Pielete levels , founder of levels.io , takjs about how hes building 12 startups
        in 12 months . Not only do we cover how he's able
        to pull that off ( and to wi...Pielete levels , founder of levels.io , takjs about how hes building 12 startups
        in 12 months . Not only do we cover how he's able
        to pull that off ( and to wi...
      </p>
    </div>
  </div>





  <div id="episodes">
    <div class="wrapper_skinny">
      <ul class="clearfix">
        <li class="clearfix">
          <div class="episode_thumbnail">
            <a href="#">
              <%= image_tag "2859340378_4fea440c7f.jpg" %>
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.erb">
              How to pull of 12 startups in 12 months
            </a></h2>

            <p class="description">
              Pielete levels , founder of levels.io , takjs about how hes building 12 startups
              in 12 months . Not only do we cover how he's able
              to pull that off ( and to wi...
            </p>
          </div>
        </li>
      </ul>





      <ul class="clearfix">
        <li class="clearfix">
          <div class="episode_thumbnail">
            <a href="#">
              <%= image_tag "2859340378_4fea440c7f.jpg" %>
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="#">
              How to pull of 12 startups in 12 months
            </a></h2>

            <p class="description">
              Pielete levels , founder of levels.io , takjs about how hes building 12 startups
              in 12 months . Not only do we cover how he's able
              to pull that off ( and to wi...
            </p>
          </div>
        </li>
      </ul>  <ul class="clearfix">
      <li class="clearfix">
        <div class="episode_thumbnail">
          <a href="#">
            <%= image_tag "2859340378_4fea440c7f.jpg" %>
          </a>
        </div>
        <div class="episode_overview">
          <h2><a href="#">
            How to pull of 12 startups in 12 months
          </a></h2>

          <p class="description">
            Pielete levels , founder of levels.io , takjs about how hes building 12 startups
            in 12 months . Not only do we cover how he's able
            to pull that off ( and to wi...
          </p>
        </div>
      </li>
    </ul>  <ul class="clearfix">
      <li class="clearfix">
        <div class="episode_thumbnail">
          <a href="#">
            <%= image_tag "2859340378_4fea440c7f.jpg" %>
          </a>
        </div>
        <div class="episode_overview">
          <h2><a href="#">
            How to pull of 12 startups in 12 months
          </a></h2>

          <p class="description">
            Pielete levels , founder of levels.io , takjs about how hes building 12 startups
            in 12 months . Not only do we cover how he's able
            to pull that off ( and to wi...
          </p>
        </div>
      </li>
    </ul>

      <div class="pagination">
        <span class="previous_page disabled">Previous</span>
        <em class="current">1</em>
        <a href="#">2</a>
        <a href="#" class="next_page">Next</a>
      </div>

    </div>
  </div>
</div>