<header id="main_header" class="clearfix">

  <div class="wrapper_wide">
    <a href="#" id="logo">Podcast.fm</a>
    <nav>
      <ul>
        <li><a href="#"> Explore</a></li>
        <li><a href="#"> Sign In</a></li>
        <li><a href="#"> Create a Podcast</a></li>
      </ul>
    </nav>

  </div>
</header>



<div id="banner" class="podcast_banner" >
  <h1>Discover your new favourite podcast</h1>
</div>




<div id="podcasts" class="clearfix">
  <div class="wrapper">

    <ul>
      <a href="#">
        <li>

          <%=image_tag "2859340378_4fea440c7f.jpg" %>
          <div class="podcast_overview">
            <h2>Nashwahls Podcast</h2>
            <p class="episode_count">1 Episode</p>
          </div>

        </li>
      </a>
    </ul>    <ul>
    <a href="#">
      <li>

        <%=image_tag "2859340378_4fea440c7f.jpg" %>
        <div class="podcast_overview">
          <h2>Nashwahls Podcast</h2>
          <p class="episode_count">1 Episode</p>
        </div>

      </li>
    </a>
  </ul>    <ul>
    <a href="#">
      <li>

        <%=image_tag "2859340378_4fea440c7f.jpg" %>
        <div class="podcast_overview">
          <h2>Nashwahls Podcast</h2>
          <p class="episode_count">1 Episode</p>
        </div>

      </li>
    </a>
  </ul>    <ul>
    <a href="#">
      <li>

        <%=image_tag "2859340378_4fea440c7f.jpg" %>
        <div class="podcast_overview">
          <h2>Nashwahls Podcast</h2>
          <p class="episode_count">1 Episode</p>
        </div>

      </li>
    </a>
  </ul>    <ul>
    <a href="#">
      <li>

        <%=image_tag "2859340378_4fea440c7f.jpg" %>
        <div class="podcast_overview">
          <h2>Nashwahls Podcast</h2>
          <p class="episode_count">1 Episode</p>
        </div>

      </li>
    </a>
  </ul>    <ul>
    <a href="#">
      <li>
        <%=image_tag "2859340378_4fea440c7f.jpg" %>
        <div class="podcast_overview">
          <h2>Nashwahls Podcast</h2>
          <p class="episode_count">1 Episode</p>
        </div>

      </li>
    </a>
  </ul>
  </div>
</div>
<div class="pagination">
      <span class="previous_page disabled">Previous</span>
      <em class="current">1</em>
      <a href="#">2</a>
      <a href="#" class="next_page">Next</a>
</div>









